<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>账号登录</title>
    <link rel="stylesheet" href="../../Common/stylesheets/weui.css"/>
    <script src='../../Common/content/jquery-1.7.2.min.js' type="text/javascript"></script>
    <script src='../../Common/content/jquery.cookie.js' type="text/javascript"></script>
    <script src='../../Common/js/Setting.js' type="text/javascript"></script>
    <script src='../../Common/js/AjaxJson.js' type="text/javascript"></script>
    <script src='../../Common/js/jweixin.js' type="text/javascript"></script>
	
</head>
<body>
<div class="page">
		<div class="page__hd">
        	<h1 class="page__title">
            	<div style="text-align:center"><img src="../../Common/image/login.jpg" alt="WeUI" height="100px"/></div>
        	</h1>
   		</div>
   		<div class="weui-cell">
             <div class="weui-cell__hd"><label class="weui-label" style="width:100px;">账号</label></div>
             <div class="weui-cell__bd">
                  <input class="weui-input" type="text" id="loginId" placeholder="请输入账号"/>
             </div>
        </div>
        <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label" style="width:100px;">密码</label>
                </div>
                <div class="weui-cell__bd">
                    <input class="weui-input" type="password" id="password" placeholder="请输入密码"/>
                </div>
                
        </div>
        <div class="weui-cell">
             <div class="weui-cell__hd"><label class="weui-label" style="width:100px;">名称</label></div>
             <div class="weui-cell__bd">
                  <input class="weui-input" type="text" id="name" disabled="disabled"/>
             </div>
        </div>
        <div class="weui-btn-area">
            <a class="weui-btn weui-btn_primary" href="javascript:" id="showTooltips" onclick="return submit();">登录</a>
        </div>
         <div class="weui-footer">
            <p class="weui-footer__links">
                <a href="javascript:void(0);" onclick="linkRegister()" class="weui-footer__link">若无账号？请先注册</a>
            </p>
        </div>
        
</div>

	<!-- 提示信息 -->
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" id="msgContent">账号不存在！</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" onclick="return closeDialog2();">知道了</a>
            </div>
        </div>
    </div>

</body>
    <script src="../../js/login/login.js" type="text/javascript"> </script>
</html>