<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>内勤确认订单</title>
	
    <link rel="stylesheet" href="../../Common/stylesheets/weui.css"/>
    <link rel="stylesheet" href="../../Common/stylesheets/we.css"/>
    <script src='../../Common/content/jquery-1.7.2.min.js' type="text/javascript"></script>
    <script src='../../Common/content/jquery.cookie.js' type="text/javascript"></script>
    <script src='../../Common/js/Setting.js' type="text/javascript"></script>
    <script src='../../Common/js/AjaxJson.js' type="text/javascript"></script>
    <script src='../../Common/js/jweixin.js' type="text/javascript"></script>
    <script src='../../Common/content/iscroll.js' type="text/javascript"></script>
	<script type="text/javascript" src="../../Common/content/demoUtils.js"></script>
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

 </head>
  
  <body>
    This is my HTML page. <br>
  </body>
</html>
