<!DOCTYPE html>
<html>
  <head>
    <title>众筑汇</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="../Common/stylesheets/weui.css"/>
    <script src='../Common/content/jquery-1.7.2.min.js' type="text/javascript"></script>
    <script src='../Common/js/Setting.js' type="text/javascript"></script>
    <script src='../Common/js/AjaxJson.js' type="text/javascript"></script>
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
  	<div class="page">
        <div class="weui-grids">
        <a href="../showProject.html?currentPage=showProject" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="../Common/image/logo.png" alt="">
            </div>
            <p class="weui-grid__label">找项目</p>
        </a>
        <a href="../showFacilitator.html" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="../Common/image/logo.png" alt="">
            </div>
            <p class="weui-grid__label">找服务商</p>
        </a>
        <a href="../showProject.html?currentPage=biddingProject" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="../Common/image/logo.png" alt="">
            </div>
            <p class="weui-grid__label">承接项目</p>
        </a>
        <a href="projectPublic.html" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="../Common/image/logo.png" alt="">
            </div>
            <p class="weui-grid__label">发布项目</p>
        </a>
        <a href="../showProject.html?currentPage=myProjectOrder" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="../Common/image/logo.png" alt="">
            </div>
            <p class="weui-grid__label">我承接的项目</p>
        </a>
        <a href="../showProject.html?currentPage=myProject" class="weui-grid">
            <div class="weui-grid__icon">
                <img src="../Common/image/logo.png" alt="">
            </div>
            <p class="weui-grid__label">我的项目</p>
        </a>
        </div>
        <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__hd">热门项目</div>
            <div class="weui-panel__bd" id="project">
                
            </div>
            <div class="weui-panel__ft">
                <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                    <div class="weui-cell__bd">查看更多</div>
                    <span class="weui-cell__ft"></span>
                </a>    
            </div>
        </div>
    </div>
    
    
  </body>
</html>
