<!DOCTYPE html>
<html>
  <head>
    <title>创建经销商基本信息</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../Common/stylesheets/weui.css"/>
    <script src='../../Common/content/jquery-1.7.2.min.js' type="text/javascript"></script>
    <script src='../../Common/js/Setting.js' type="text/javascript"></script>
    <script src='../../Common/js/AjaxJson.js' type="text/javascript"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://res.wx.qq.com/open/libs/weuijs/1.0.0/weui.min.js"></script>
    
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

  </head>
  
  <body>
	  <div class="weui-cells weui-cells_form" >
	  	<form action="" id="sellerForm" onsubmit="return submitForm();">
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">经销商代码</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" name="sellerCode" type="text" placeholder="请输入经销商代码"/>
              </div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">经销商名称</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" name="sellerName" type="text" placeholder="请输入经销商名称"/>
              </div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">经销商简称</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" name="sellerShortName" type="text" placeholder="请输入经销商简称"/>
              </div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">经销商送货地址</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" name="sellerDeliveryAddress" type="text" placeholder="请输入经销商送货地址"/>
              </div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">经销商联系人姓名</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" name="contactor" type="text" placeholder="请输入经销商联系人姓名"/>
              </div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">联系人电话</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" name="contactorTele" type="text" placeholder="请输入联系人电话"/>
              </div>
          </div>
          <div class="weui-cell">
              <div class="weui-cell__hd"><label class="weui-label">地区代码</label></div>
              <div class="weui-cell__bd">
                  <input class="weui-input" name="areaCode" type="text" placeholder="请输入地区代码"/>
              </div>
          </div>
          
          <div class="weui-btn-area">
        	<input type="submit"  class="weui-btn weui-btn_primary" style="font-size:30px;" value="确认创建"></input> 
          </div>
        </form>
    </div>
    <!-- 提示信息 -->
    <div class="js_dialog" id="iosDialog2" style="display: none;">
        <div class="weui-mask"></div>
        <div class="weui-dialog">
            <div class="weui-dialog__bd" id="msgContent">创建经销商基本信息成功！</div>
            <div class="weui-dialog__ft">
                <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" onclick="return closeDialog2();">知道了</a>
            </div>
        </div>
    </div>
    
   
  </body>
   <script src="../../js/seller/insertSeller.js" type="text/javascript"> </script>
</html>
