
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>分类</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/jquery-weui/1.2.0/css/jquery-weui.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Common/stylesheets/swiper.min.css">
    <link rel="stylesheet" href="../../Common/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../../Common/stylesheets/main.css">
    <link rel="stylesheet" href="../../Common/stylesheets/class.css">
    <link rel="stylesheet" href="../../Common/stylesheets/index.css">
    <link rel="stylesheet" href="../../Common/stylesheets/find.css">
    <link rel="stylesheet" href="../../Common/stylesheets/theme-color.css">
    
</head>
<body>
<header class="zyw-header">
    <div class="zyw-container white-color">
        <div class="head-l"><a href="javascript:window.history.back(-1)" target="_self"><img src="../../Common/image/svg/head-return.svg" alt=""></a></div>
        <div class="head-search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" placeholder="输入您当前要搜索的电动车" class="white-color">
        </div>
        <div class="head-r"><a href="">取消</a></div>
    </div>
</header>
<footer class="zyw-footer">
    <div class="zyw-container white-bgcolor" >
        <div class="weui-tabbar">
			<a href="index.html" class="weui-tabbar__item weui-bar__item--on">
				<div class="weui-tabbar__icon">
					<img src="../../common/image/svg/index.svg" alt="">
				</div>
				<p class="weui-tabbar__label">首页</p>
			</a> 
			<a href="searchProduct.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="../../common/image/svg/category-onclick.svg" alt="">
                </div>
                <p class="weui-tabbar__label">分类</p>
            </a>			
			<a href="submitOrder.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="../../common/image/svg/cart.svg" alt="">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
		    <a href="showOrder.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="../../Common/image/order.png" alt="">
				</div>
				<p class="weui-tabbar__label">订单</p>
			</a>
	   </div>      
    </div> 
</footer>
<section class="zyw-container">
    <div class="class-cont clearfix">
        <ul id="myTab" class="nav nav-tabs nav-stacked class-hd">
            <li class="active"><a href="#tjcx" data-toggle="tab">特价促销车</a></li>
            <li><a href="#hhk" data-toggle="tab">豪华款</a></li>
            <li><a href="#gbc" data-toggle="tab">国标车</a></li>
            <li><a href="#jyk" data-toggle="tab">简易款</a></li>
            <li><a href="#ldc" data-toggle="tab">锂电车</a></li>
        </ul>
        <div id="myTabContent" class="tab-content class-bd white-bgcolor">
            <div class="tab-pane fade in active" id="tjcx">
              <div class="class-bd-cont">
                <div class="bd-box">
                  <div class="bd-box-info">
                  <!--  <div class="index-wares"> -->
                            <div class="find-group1">
        	                   <div class="group1-bd clearfix">
                                   <div class="pull-left bd-l">
                                       <div class="bd-img"><img src="https://img11.360buyimg.com/mobilecms/s100x100_jfs/t18607/245/416101886/491398/5ed65605/5a73c80bNc4fab2ca.jpg!q90!cc_100x100.webp" alt=""></div>
                                   </div>
                                   <div class="pull-right bd-r">
                                       <h4 class="bd-title">时尚女神节 抢5折优惠券转身变女神 </h4>
                                       <span class="bd-intro">1.1万人浏览 2390件宝贝</span>
                                       <p class="bd-price" style="margin-top: 10px;">￥4800.00</p>
                                   </div>
                              </div>
                            </div>
                   <!--   </div>   -->
                   </div>                         
                </div>
            </div>
            </div>
            <div class="tab-pane fade" id="nxnx">
                <div class="class-bd-cont">
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script src="../../Common/js/bootstrap.min.js"></script>
</body>
</html>