<!DOCTYPE html>
<html>
  <head>
    <title>提交订单</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

<link rel="stylesheet" href="../../Common/stylesheets/weui.css" />
<link rel="stylesheet" href="../../Common/stylesheets/we.css" />
<script src='../../Common/content/jquery-1.7.2.min.js'
	type="text/javascript"></script>
<script src='../../Common/content/jquery.cookie.js'
	type="text/javascript"></script>
<script src='../../Common/js/Setting.js' type="text/javascript"></script>
<script src='../../Common/js/AjaxJson.js' type="text/javascript"></script>
<script src='../../Common/js/jweixin.js' type="text/javascript"></script>
<script src='../../js/order/submitOrder.js' type="text/javascript"></script>
<script type="text/javascript">
    $(function(){
        $('.weui-tabbar__item').on('click', function () {
            $(this).addClass('weui-bar__item_on').siblings('.weui-bar__item_on').removeClass('weui-bar__item_on');
        });
    });
 </script>
 <script type="text/javascript">
	$(function(){
	       var filesObj = [];
	       var tmpl = '<li class="weui-uploader__file" style="background-image:url(#url#)"></li>',
	            $gallery = $("#gallery"), $galleryImg = $("#galleryImg"),        
	            $uploaderFiles = $("#files");
	       $uploaderFiles.on("click" , "img" , function(){
	            $galleryImg.append('<img src="'+this.src+'" height="100%" width="100%" alt=""/>')
	            $gallery.fadeIn(100);
	       }); 
	       $gallery.on("click",function(){
	             $gallery.fadeOut(100);
	             $galleryImg.empty();
	       });    
	});	
 </script>

  </head>
  
  <body>
    <div class="page" id="panel">
		<div class="weui-tab">
			<div class="weui-tab__panel">
				<div class="weui-cell weui-cell_select weui-cell_select-after">
					<div class="weui-cell__hd">
						<label class="weui-label">颜色</label>
					</div>
					<div class="weui-cell__bd">
						<select class="weui-select" id="color" onchange="return getPhoto();"></select>
					</div>
				</div>	
				<div class="weui-cell">
                	<div class="weui-cell__bd">
                   		<div class="weui-uploader">
  							<div class="weui-uploader__bd">
                				<ul class="weui-uploader__files" id="files"></ul>		
            				</div>
            			</div>
            		</div>
            	</div>
				<div class="weui-gallery" id="gallery">
                   <span class="weui-gallery__img" id="galleryImg"></span>            
               </div>
               			
			</div>
			<div class="weui-tabbar">
				<a href="javascript:;" class="weui-tabbar__item weui-bar__item_on">
					<img src="./images/icon_tabbar.png" alt=""
					class="weui-tabbar__icon">
					<p class="weui-tabbar__label">首页</p>
				</a> <a href="javascript:;" class="weui-tabbar__item"> <img
					src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
					<p class="weui-tabbar__label">订单</p>
				</a> <a href="javascript:;" class="weui-tabbar__item"> <img
					src="./images/icon_tabbar.png" alt="" class="weui-tabbar__icon">
					<p class="weui-tabbar__label">购物车</p>
				</a>
			</div>
		</div>
	</div>
  </body>
</html>
