<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>购物车</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/weui/1.1.2/style/weui.min.css">
   
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Common/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="../../Common/stylesheets/aui.css">
    <link rel="stylesheet" href="../../Common/stylesheets/main.css">
    <link rel="stylesheet" href="../../Common/stylesheets/cart.css">
    <link rel="stylesheet" href="../../Common/stylesheets/theme-color.css">
   
    <script src='../../Common/content/jquery-1.7.2.min.js' type="text/javascript"></script>
    <script src='../../Common/content/jquery.cookie.js' type="text/javascript"></script>
    <script src='../../Common/js/Setting.js' type="text/javascript"></script>
    <script src='../../Common/js/AjaxJson.js' type="text/javascript"></script>
    <script src='../../Common/js/jweixin.js' type="text/javascript"></script>
    <script src="../../js/order/submitOrder.js" type="text/javascript"></script> 
    <script src="../../Common/js/My97DatePicker/WdatePicker.js" type="text/javascript" ></script>
   
<body>
<form method="post" name="cart_form" target="_self" id="cart_form" action="">
<header class="zyw-header">
    <div class="zyw-container white-color">
        <div class="head-l"><a href="javascript:window.history.back(-1)" target="_self"><img src="../../Common/image/svg/head-return.svg" alt=""></a></div>
        <h1>购物车</h1>
        <!-- <div class="head-r"><a href="">编辑</a></div> -->
    </div>
</header>
<footer class="zyw-footer">
    <div class="zyw-container white-bgcolor" >
        <div class="weui-tabbar">
			<a href="index.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="../../Common/image/svg/index.svg" alt="">
				</div>
				<p class="weui-tabbar__label">首页</p>
			</a> 
			<a href="searchProduct.html" class="weui-tabbar__item">
                <div class="weui-tabbar__icon">
                    <img src="../../Common/image/svg/category.svg" alt="">
                </div>
                <p class="weui-tabbar__label">分类</p>
            </a>			
			<a href="submitOrder.html" class="weui-tabbar__item weui-bar__item--on">
				<div class="weui-tabbar__icon">
					<img src="../../Common/image/svg/cart-onclick.svg" alt="">
				</div>
				<p class="weui-tabbar__label">购物车</p>
			</a>
		    <a href="showOrder.html" class="weui-tabbar__item">
				<div class="weui-tabbar__icon">
					<img src="../../Common/image/order.png" alt="">
				</div>
				<p class="weui-tabbar__label">订单</p>
			</a>
	   </div>      
    </div> 
</footer>
<section class="zyw-container">
        <!--list-->
      <div class="commodity_list_box"> 
            <!--商品列表-->
            <div class="commodity_box">
                <div class="commodity_list">                
                    <!--商品-->
                    <ul class="commodity_list_term" id="listterm">
                   <!--    <li class="select">
                            <em aem="0" cart_id="84"></em>
                            <img src="https://img13.360buyimg.com/mobilecms/s140x140_jfs/t3229/10/2021133198/376218/cfcc06cb/57d8e84eNfe92eae8.jpg"/>
                            <div class="div_center">
                                <h4 id="name">新疆苹果</h4>
                                <div id='spec'>甜</div>
                                <span id="color">50斤</span>
                                <p class="now_value">
                                    <i>￥</i>
                                    <b class="qu_su" id="price">200</b>
                                </p>
                            </div>
                            <div class="div_right">
                                <i onclick="reducew(this)">-</i>
                                <span class="zi" id="qty">1</span>
                                <input type="hidden" value="84">
                                <i onclick="plusw(this)">+</i>
                            </div>
                        </li> --> 
                    </ul>
            
                </div>
            </div>
        </div> 
        <div class="settle_box">
            <dl class="all_check select" >
                <dt>
                    <span id="all_pitch_on"></span>
                    <em>点击计算总金额</em>
                </dt>
            </dl>
            <dl class="total_amount">
                <dt>
                    合计：
                    <p id="total_price">
                        ¥<b>0</b>
                    </p>
                </dt>              
            </dl>
            <input type="hidden" name="gcs" id="gcs"/>
            <a class="settle_btn" id="confirm_cart" onClick="confirmOrder()">下单</a>
            <a class="settle_btn" href="javascript:void(0);" id="confirm_cart1" onclick="big_cart_remove()">删除</a>
        </div>
</section>
</form>
<div class="js_dialog" id="iosDialog1" style="display:none">
	<div class="weui-mask"></div>
	<div class="weui-dialog" >
		<div class="weui-cell">
			<div class="weui-cell__hd">
				<label class="weui-label">期望到货日期</label>
			</div>
			<div class="weui-cell__bd">
				<input class="weui-input" type="text" placeholder="点击选择期望到货日期" id="receive_date" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd',minDate:'%y-%M-#{%d+7}'})"/>
			</div>
		</div>
		<div class="weui-dialog__ft">
			<a href="javascript:cancelOrder();" class="weui-dialog__btn weui-dialog__btn_default">取消</a> 
		    <a href="javascript:submitOrder();" class="weui-dialog__btn weui-dialog__btn_primary">确认</a>
		</div>
	</div>
</div>
<div class="js_dialog" id="iosDialog2" style="display:none">
	<div class="weui-mask"></div>
	<div class="weui-dialog" >
		<div class="weui-dialog__bd">您确定要删除吗？</div>
		<div class="weui-dialog__ft">
			<a href="javascript:cancel();"
				class="weui-dialog__btn weui-dialog__btn_default">取消</a> <a
				href="javascript:;"
				class="weui-dialog__btn weui-dialog__btn_primary" id="confirmDelete">确认</a>
		</div>
	</div>
</div>

</body>
<script src="https://cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-weui/1.2.0/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="../../Common/js/ionic.bundle.min.js"></script>
<script type="text/javascript" src="../../Common/js/runend.js"></script>
<script src="../../Common/js/bootstrap.min.js"></script>

<script type="text/javascript">
   //定义全局变量
	var i=0;
	
	//金额总和
	var money=0;
	
	//计算合计价格
	var cart_money=new Object();
	
	//全部商品ID
	var cart_id=new Object();
	//备份商品ID，用于全选后去掉全选又再次全选
	var cart_id_copy=new Object();
   
</script>
<script type="text/javascript">
    var noX = 0;
	/* 没选中时点击加减计算数量  */
	var allThis = $(".commodity_box .select em");
	/*底部全选*/
	var totalH;
	/* 合计价格减  */
	function reduceMod(e, totalH, mod, noX) {
	    var tn = e.siblings().find(".qu_su").text();
	    /* 当前选中商品  */
	    var tn1 = e.siblings().find(".zi").text();
	    /* 商品数量  */
	    if (mod != 2) {
	        var Total = parseFloat(totalH) - (tn * tn1);
	        /* 总价格减该商品总数价格  */
	        $("#total_price b").text(Total.toFixed(2));
	    } else {
	        /* 合计加单价-1 */
	        var Total = parseFloat(totalH) - parseFloat(tn);
	        /* 总价格减该商品总数价格  */
	        $("#total_price b").text(Total.toFixed(2));
	    }
	
	}
	;/*合计价格加  */
	function plusMod(e, totalH, mod) {
	    var tn = e.siblings().find(".qu_su").text();
	    /* 当前选中商品  */
	    var tn1 = e.siblings().find(".zi").text();
	    /* 商品数量  */
	    if (mod != 2) {
	        var Total = parseFloat(totalH) + (tn * tn1);
	        /* 总价格加上该商品总数价格  */
	        $("#total_price b").text(Total.toFixed(2));
	    } else {
	        /* 合计加单价+1 */
	        var Total = parseFloat(totalH) + (parseFloat(tn) + (noX - 1));
	        /* 总价格加上该商品总数价格  */
	        $("#total_price b").text(Total.toFixed(2));
	    }
	
	}
	;
	/*全部商品价格*/
	function commodityWhole() {	   
	    /* 合计金额  */
	    var je = $(".commodity_box .select .qu_su");
	    /* 全部商品单价  */
	    var je1 = $(".commodity_box .select .zi");
	    /* 全部商品数量  */
	    var TotalJe = 0;
	    for (var i = 0; i < je.length; i++) {
	        var n = je.eq(i).text();
	        var n1 = je1.eq(i).text();
	        TotalJe = TotalJe + (parseFloat(n) * parseFloat(n1));
	
	    }
	    $("#total_price b").text(TotalJe.toFixed(2));
	    /* 合计金额  */
	}
	;
	
	//选择结算商品
	$(".select em").click(function() {
	   
	    var su = $(this).attr("aem");
	    var carts_id = $(this).attr("cart_id");
	    totalH = $("#total_price b").text();
	    /* 合计金额  */
	    if (su == 0) {
	        /* 单选商品  */
	        if ($(this).hasClass("pitch_on")) {	           
	            /*去底部全选*/
	            $("#all_pitch_on").removeClass("pitch_on");
	            $(this).removeClass("pitch_on");
	            reduceMod($(this), totalH);
	            cart_id[carts_id] = "";
	            delete cart_id[carts_id];
	        } else {
	            $(this).addClass("pitch_on");
	            var n = $(this).parents("ul").children().find(".pitch_on");
	            var n1 = $(this).parents("ul").children();
	            plusMod($(this), totalH, 0, noX);
	            cart_id[carts_id] = "";
	            /*该店商品全选中时*/
	            if (n.length == n1.length) {
	                $(this).parents("ul").siblings(".select").find("em").addClass("pitch_on");
	            }
	            /*商品全部选中时*/
	            var fot = $(".commodity_list_box .tite_tim .pitch_on");
	            var fot1 = $(".commodity_list_box .tite_tim em");
	            if (fot.length == fot1.length)
	                $("#all_pitch_on").addClass("pitch_on");
	        }
	    }
	
	});

	/* 底部全选  */	
	var bot = 0;
	$("#all_pitch_on").click(function() {   
	    if (bot == 0) {
	        $(this).addClass("pitch_on");
	        allThis.removeClass("pitch_on");
	        allThis.addClass("pitch_on");
	        /*总价格*/
	        commodityWhole();
	        bot = 1;
	        //重新加入属性对象
	        for (var key in cart_id_copy) {
	            cart_id[key] = "";
	        }
	    } else {
	        $(this).removeClass("pitch_on");
	        allThis.removeClass("pitch_on");
	        $("#total_price b").text("0");
	        bot = 0;
	        //移除全部对象
	        for (var key in cart_id) {
	            delete cart_id[key];
	        }
	    }
	    //计算选择数值
	    //number();
	});
	
	function number() {
	    var num = 0;
	    for (var key in cart_id) {
	        num++;
	    }
	    //将选择的放入到计算里面
	    //$("#confirm_cart").html("结算("+num+")");
	}
	
	/* 加减  */
	
	function reducew(obj) {
	    //减
	    var $this = $(obj);
	    var totalH = $("#total_price b").text();
	    /* 合计金额  */
	    var ise = $this.siblings("span").text();
	    var gc_id = $this.siblings("input").val();
	    if (noX <= 0) {
	        noX = 0;
	    } else {
	        noX--;
	    }
	    ;
	    if (parseInt(ise) <= 1) {
	        $this.siblings("span").text("1");
	        deleteOrderConfirm();
	    } else {
	        var n = parseInt(ise) - 1;
	        $this.siblings("span").text(n);
	        if ($this.parent().parent().children("em").hasClass("pitch_on")) {
	            var mo = $this.parent().parent().children("em");
	            reduceMod(mo, totalH, 2, noX);
	            noX = 0;
	        }
	
	    }
	
	    
	}
	;
	function plusw(obj) {	   
	    //加
	    var $this = $(obj);
	    var totalH = $("#total_price b").text();
	    /* 合计金额  */
	    var ise = $this.siblings("span").text();
	    
	    var gc_id = $this.siblings("input").val();
	    var n = parseInt(ise) + 1;
	    noX++;
	
	    $this.siblings("span").text(n);
	   
	    if ($this.parent().parent().children("em").hasClass("pitch_on")) {
	        var mo = $this.parent().parent().children("em");
	       
	        
	        plusMod(mo, totalH, 2, noX);
	        noX = 0;
	    }	   
	}
  
</script>
</html>