.find-cart{
    background: #fff;
    line-height: 3.5rem;
    border-bottom: 1px solid #f2f2f2;
    width: 100%;
    overflow: hidden;
}
.find-cart .swiper-slide{width: auto;}
.find-cart .cart-tab{
    display: inline-block;
    padding: 0 15px;
    color: #232323;
    font-size: 1.2rem;
}
.find-cart .cart-tab.active{
    font-weight: bold;
}
.find-slider{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.find-slider img{width: 100%;}
.find-group1{}
.find-group1 .find-group1-item{
    padding: 0.625rem;
}
.find-group1-item .group1-hd{}
.group1-hd .hd-img{
    overflow: hidden;
    width: 37px;
    height: 37px;
    display: block;
    border-radius: 50%;
    max-width: 100%;
    border: none;
    margin-right: 10px;
    margin-top: 1px;
}
.group1-hd .hd-img img{width: 100%;}
.group1-hd .hd-name{
    margin: 0;
    color: #232323;
    font-weight: bold;
    font-size: 1.2rem;
}
.group1-hd .hd-time{
    color: #999;
    font-size: 1rem;
}
.group1-hd .hd-take{
    display: block;
    padding: 0px 5px;
    margin-top: 10px;
    font-size: 1rem;
}
.find-group1-item .group1-bd{}
.group1-bd .bd-l{
    width: 30%;
}
.group1-bd .bd-r{
    width: 70%;
    padding-left: 10px;
}
.group1-bd .bd-img{
    padding: 4px;
}
.group1-bd .bd-img img{width: 100%;}
.group1-bd .bd-title{
    font-size: 1.1rem;
    color: #232323;
}
.group1-bd .bd-intro{
    color: #999;
    font-size: 1rem;
}